<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />

    <meta name="referrer" content="no-referrer-when-downgrade" />

    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />

    <!-- Custom CSS -->

    <link
      rel="stylesheet"
      type="text/css"
      href="https://d24cdstip7q8pz.cloudfront.net/t/t20180801182018/content/common/documents/custom.css"
    />

    <!-- Angularjs -->

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>

    <title>Apeejay School, Noida - Quick Enquiry Form</title>
  </head>

  <body>
    <div class="container-fluid no-margin">
      <!-- Logo -->

      <header id="top">
        <div class="container-fluid">
          <div class="text-center">
            <img
              class="my-2"
              src="https://d24cdstip7q8pz.cloudfront.net/t/t20180801182018/content/common/documents/enquiry-forms/aes-logo.png"
              alt="Logo"
              width="72"
              height="72"
            />

            <div class="h4">Apeejay School, Noida</div>
          </div>
        </div>
      </header>

      <!-- header -->

      <main id="header" ng-app>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-md-7 headers">
              <h2>School Highlights</h2>

              <ul>
                <li>Spread over 16 acres of lush green campus</li>

                <li>
                  State-of-the-art infrastructure comprising international level
                  playgrounds
                </li>

                <li>Separate hostels for boys & girls</li>

                <li>Extensive international exchange programmes & projects</li>
              </ul>
            </div>

            <div id="formers" class="col-lg-4 col-md-5 formers">
              <div class="form-header">
                <h3>Admission Open</h3>
              </div>

              <div class="form-container">
                <div class="media-container-column">
                  <form
                    method="Post"
                    id="regForm"
                    enctype="multipart/form-data"
                    action="https://web-in21.mxradon.com/t/FormTracker.aspx"
                    name="myform"
                    novalidate
                  >
                    <input
                      type="text"
                      name="FirstName"
                      class="form-control"
                      placeholder="Parent Name"
                      pattern="[a-zA-Z\s]+"
                      ng-model="user.FirstName"
                      ng-required="true"
                    />

                    <p
                      class="error validationerror"
                      ng-show="myform.FirstName.$invalid && myform.FirstName.$touched"
                    >
                      Please enter Parent name.
                    </p>

                    <input
                      type="text"
                      name="mx_Child_Name"
                      class="form-control"
                      placeholder="Child Name"
                      pattern="[a-zA-Z\s]+"
                      ng-model="user.mx_Child_Name"
                      ng-required="true"
                    />

                    <p
                      class="error validationerror"
                      ng-show="myform.mx_Child_Name.$invalid && myform.mx_Child_Name.$touched"
                    >
                      Please enter Child name.
                    </p>

                    <input
                      type="text"
                      name="Phone"
                      class="form-control"
                      ng-model="user.Phone"
                      pattern="[0-9]+"
                      ng-required="true"
                      ng-minlength="10"
                      ng-maxlength="10"
                      placeholder="Phone"
                    />

                    <p
                      class="error validationerror"
                      ng-show="myform.Phone.$invalid && myform.Phone.$touched"
                    >
                      Please enter a valid 10 digit mobile number.
                    </p>

                    <input
                      type="email"
                      name="EmailAddress"
                      class="form-control"
                      pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
                      placeholder="Email"
                      ng-model="user.EmailAddress"
                      ng-required="true"
                    />

                    <p
                      class="error validationerror"
                      ng-show="myform.EmailAddress.$invalid && myform.EmailAddress.$touched"
                    >
                      Please enter a valid email address.
                    </p>

                    <select
                      name="mx_Grade"
                      id="mx_Grade"
                      class="form-control"
                      ng-model="user.mx_Grade"
                      ng-required="true"
                    >
                      <option value="" selected="">-- Select Grade --</option>

                      <option value="Nursery">Nursery</option>

                      <option value="KG">KG</option>

                      <option value="Grade I">Grade I</option>

                      <option value="Grade II">Grade II</option>

                      <option value="Grade III">Grade III</option>

                      <option value="Grade IV">Grade IV</option>

                      <option value="Grade V">Grade V</option>

                      <option value="Grade VI">Grade VI</option>

                      <option value="Grade VII">Grade VII</option>

                      <option value="Grade VIII">Grade VIII</option>

                      <option value="Grade IX">Grade IX</option>

                      <option value="Grade X">Grade X</option>

                      <option value="Grade XI">Grade XI</option>

                      <option value="Grade XII">Grade XII</option>
                    </select>

                    <p
                      class="error validationerror"
                      ng-show="myform.mx_Grade.$invalid && myform.mx_Grade.$touched"
                    >
                      Please choose Grade.
                    </p>

                    <select
                      name="mx_Custom_Lead_Source"
                      id="mx_Custom_Lead_Source"
                      class="form-control"
                      ng-model="user.mx_Custom_Lead_Source"
                      ng-required="true"
                    >
                      <option value="" selected="">
                        -- How did you come to know about Apeejay --
                      </option>

                      <option value="GoogleSearch">
                        Google Search/Internet
                      </option>

                      <option value="SocialMedia">Social Media</option>

                      <option value="SmsWhatsappEmailer">
                        SMS/Whatsapp/Emailer
                      </option>

                      <option value="ApeejayStudent">
                        Apeejay student/Alumni/Sibling
                      </option>

                      <option value="Newspaper">Newspaper</option>

                      <option value="Magazine">Magazine</option>

                      <option value="FriendsRelative">Friends Relatives</option>

                      <option value="fairsAndExhibition">
                        Fairs &amp; Exhibition
                      </option>

                      <option value="Hoardings">Hoardings</option>
                      <option value="others">Others</option>
                    </select>

                    <p
                      class="error validationerror"
                      ng-show="myform.mx_Custom_Lead_Source.$invalid &amp;&amp; myform.mx_Custom_Lead_Source.$touched"
                    >
                      Please select a source.
                    </p>
                    <textarea
                      name="textarea"
                      disabled
                      id="two"
                      rows="2"
                      style="width: 100%"
                      required="required"
                    ></textarea>
                    <input
                      type="submit"
                      id="form-submit-button"
                      name="Submit_form"
                      class="btn btn-success btn-lg"
                      value="Apply Now"
                      ng-disabled="myform.$invalid"
                      onclick="return validateTextarea()"
                    />

                    <input type="hidden" name="MXHOrgCode" value="36369" />

                    <input
                      type="hidden"
                      name="MXHLandingPageId"
                      value="ae85f8d2-4783-11e9-9f5f-0aac6f3d6e00"
                    />

                    <input type="hidden" name="MXHFormBehaviour" value="1" />

                    <input type="hidden" name="MXHFormDataTransfer" value="0" />

                    <input
                      type="hidden"
                      name="MXHRedirectUrl"
                      value="https://apeejayschoolnoida.viewpage.co/thank-you"
                    />

                    <input type="hidden" name="MXHAsc" value="5" />

                    <input
                      type="hidden"
                      name="MXHPageTitle"
                      value="Quick Enquiry"
                    />

                    <input
                      type="hidden"
                      name="MXHOutputMessagePosition"
                      value="0"
                    />

                    <input type="hidden" name="MXHIsExternallyUsed" value="1" />

                    <input
                      type="hidden"
                      name="MXHOutputMessagePosition"
                      value="0"
                    />

                    <input type="hidden" name="MXHFormName" value="FORM 0" />

                    <input type="hidden" name="MXHSecretKey" value="" />
                  </form>
                </div>
              </div>
            </div>

            <script type="text/javascript">
              var MXLandingPageId = "ae85f8d2-4783-11e9-9f5f-0aac6f3d6e00";
            </script>

            <script type="text/javascript">
              document.getElementById("mx_Custom_Lead_Source").onchange =
                function () {
                  document
                    .getElementById("two")
                    .setAttribute("disabled", "disabled");
                  if (this.value == "others") {
                    document.getElementById("two").removeAttribute("disabled");
                    document
                      .getElementById("mx_Grade")
                      .setAttribute("disabled", "disabled");
                  }
                  if (
                    this.value == "GoogleSearch" ||
                    this.value == "SocialMedia" ||
                    this.value == "SmsWhatsappEmailer" ||
                    this.value == "ApeejayStudent" ||
                    this.value == "Newspaper" ||
                    this.value == "Magazine" ||
                    this.value == "FriendsRelative" ||
                    this.value == "fairsAndExhibition" ||
                    this.value == "Hoardings"
                  ) {
                    document.getElementById("two").value = "";
                  }
                };
              function validateTextarea() {
                let elm = document.forms["myForm"]["textarea"].value;
                console.log(elm);

                if (elm === "") {
                  console("inside textarea function rturning false");
                  return false;
                }
                // return true;
              }
            </script>
          </div>
        </div>
      </main>

      <!-- Footer -->

      <footer id="footer">
        <div class="py-3 text-center">
          Copyrights &copy; 2019. Apeejay Education Society
        </div>
      </footer>
    </div>
    <!-- Main Div Close -->
  </body>
</html>
